body {
	background: orange;
}

li {
	border: 2px solid red;
}

/* #special{
	background: yellow;
} */

/* .completed {
	text-decoration: line-through;
} */

input[type=checkbox] + label {
	background: yellow;
}

input[type=checkbox]:checked + label {
	background: none;
	text-decoration: line-through;
}